<html>
    <head>
        <title>Ninja Gold Machine</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
        }
        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
    </head>
    <body>
        <h1>Rpg#index</h1>
        <p>Find me in app/views/rpg/index.html.erb</p>

        <p>Your Gold: <%= session[:gold] %></p>
        <p>Your last visit location was: <%= session[:location] %></p>
        <p>Click <a href='/reset'>here</a> to restart your adventure!</p>

        <div class='jumbotron'>
            <div class='row text-center justify-content-between'>
                <div class='col-2 border border-dark'>
                    <h3>Farm</h3>
                    <h6>(earns 10-20 golds)</h6>
                    <form class='py-3' action="/farm" method='post'>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type='submit' name='farm'></form>
                </div>
                <div class='col-2 border border-dark'>
                    <h3>Cave</h3>
                    <h6>(earns 5-10 golds)</h6>
                    <form class='py-3' action="/cave" method='post'>
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type='submit' name='cave'></form>
                </div>
                <div class='col-2 border border-dark'>
                    <h3>House</h3>
                    <h6>(earns 2-5 golds)</h6>
                    <form class='py-3' action="/house" method='post'>
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type='submit' name='house'></form>
                </div>
                <div class='col-2 border border-dark'>
                    <h3>Casino</h3>
                    <h6>(earns/takes 0-50 golds)</h6>
                    <form class='py-3' action="/casino" method='post'>
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type='submit' name='casino'></form>
                </div>
            </div>
        </div>
        <div>
            <class='row'>
                <class='col'>
                    <h3>Activities:</h3>
                    <table class='table-wrapper-scroll-y my-custom-scrollbar'>
                        <% for msg in session[:msg].reverse %>
                            <tr>
                                <td><%= msg %></td>
                            </tr>
                        <% end %>
                    </table>
                </class>
            </class>
        </div>
    </body>
</html>

